version: '3'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.2
    environment:
      - discovery.type=single-node
      - ELASTIC_PASSWORD=06h1yvYGw6mtZ9Ex3K+FfBuksHGdp1UC
      - xpack.security.enabled=false
      - xpack.security.http.ssl.enabled=false
    ports:
      - 9200:9200
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data
      - ./certs:/usr/share/elasticsearch/config/certs
    mem_limit: 2g
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:9200 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    ports:
      - 6379:6379

  app:
    image: ghcr.io/andmbg/podology:latest
    env_file:
      - .env
    depends_on:
      elasticsearch:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - ELASTICSEARCH_HOST=elasticsearch
      - ELASTICSEARCH_PORT=9200
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - TRANSCRIBER_URL_PORT=${TRANSCRIBER_URL_PORT}
      - API_TOKEN=${API_TOKEN}
      - EMBEDDER_MODEL=all-mpnet-base-v2
      - EMBEDDER_DIMS=768
    ports:
      - 8080:8080
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./data:/app/data
    restart: unless-stopped

  worker:
    image: ghcr.io/andmbg/podology:latest
    env_file:
      - .env
    depends_on:
      elasticsearch:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      - ELASTICSEARCH_HOST=elasticsearch
      - ELASTICSEARCH_PORT=9200
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - TRANSCRIBER_URL_PORT=${TRANSCRIBER_URL_PORT}
      - API_TOKEN=${API_TOKEN}
      - EMBEDDER_MODEL=all-mpnet-base-v2
      - EMBEDDER_DIMS=768
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./data:/app/data
    command: poetry run rq worker transcription
    restart: unless-stopped

volumes:
  elasticsearch-data:
